.wigdetSm{
    flex: 1;
    border: 1px solid #ddd;
    margin-right: 20px;
}

.userA{
    text-decoration: none;
}

.userData{
    padding-top: 2px;
    margin-bottom: 8px
}

.btnUserEdit{
    color: #103946;
    width: fit-content;
    margin-left: 10px;
    font: 14px;
}

.widgetSmListItem{
    list-style: none;
    display: flex;
    
}

.widgetSmTitle{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.btnUserEdit:hover{
    color: #10394655;
}