.featured{
    display: flex;
    width: 100%;
    /* background-color: pink; */
    justify-content: space-around;
}

.featuredMoneyContainer{
    display: flex;
    
}

.featuredItem{
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 20px;
}

.featuredTitle{
    font-size: 20px;
    font-weight: bold;
}

.faturedMoney{
    font-size: 30px
}

.faturedMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 20px;
    color: greenyellow;
}

.featuredIcon.negative{
    color: #ff0000
}

.featuredSub{
    font-size: 15px;
    color: #808080;
}

@media only screen and (max-width: 991px) {
    .featuredItem{
        margin-left: 20px;
    }
}